
body{
    margin: 0 auto;
	font-family: verdana;
}
/*----------------------------CABECERA---------------------------------------------------*/
header h1{
    font-family: century;
    font-size: 55px;
    text-align: center;
}
.clear{
	clear: both;
}
.barraUsuari{
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    top: 40px;
  }
.barraUsuari li{
    float: right; 
    margin: 0 5px;  
}
.glyphicon{
    color:DARKGRAY;
    font-size: 25px; 
}
.glyphicon:hover{
    color:black;  
}

/*-----------------------------------------BARRA MENU----------------------------*/
.navbar {
    border: none;
}
.navbar-nav{
    position: relative; 
    left: 50%;
}
.navbar-nav li{
    position: relative; 
    right: 50%;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover{
    background-color:white;
}
.navbar-nav>.active>a:hover, .container-fluid .nav li a:hover, .navbar-nav>.active>a{
    font-weight: bold;
}

.container-fluid {
	background-color:white; /*Color fons de la barra de navegació*/
}
.cerrar li h4{
    padding-top: 3px;
}
/*-------------------------PORTADA---------------------------------------------------------*/
.fotoPortada{
    width: 90%;
    height: 520px;
    background-image: url("../img/revista33.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}
.fotoPortada h1{
    color:white;
    font-weight: bolder;
    text-align: center;
    position: relative;
    top: 260px;
}
/*-------------------------------------LOGIN----------------------------------------------------*/
.loginIndex input[type=text], .loginIndex input[type=password] {
    width: 320px;
    padding: 12px 0 12px 10px;
    margin: 8px 12px;
   /* display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
    float:left;
    clear: both;
}
.loginIndex button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 0 12px 10px;
    margin: 8px 12px;
    border: none;
    cursor: pointer;
    width: 320px;
    float: left;
    clear: both;
}
#id01 button:hover, #avis button:hover{
    opacity: 0.8;
}
.loginPie, .modal-footer{
    width: 100%;
    height: 70px;
}
.loginPie .cancelbtn {        
    padding: 10px 18px;
    background-color: #f44336;
    color:white;
    margin: 10px 0 0 30px;
}
.imgcontainer {
    width: 320px;
    height: 158px;
    text-align: center;
    margin: 30px 30px 0 30px;
    background:url("../img/look-5.jpg");
    position: relative;
}
.look {
    font-family: century;
    font-weight: bolder;
    text-align: center;
    position: relative;
    top: 90px;
}
.loginIndex label {
    float: left;
    margin-left: 12px;
    clear: both;
}
span.psw {
    float: right;
    padding: 20px 30px 0 0;
}
.modalInd {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}
.modal-content-ind, .modal-content{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 380px; /* Could be more or less, depending on screen size */
}
/* Boton de cierre (x) */
.close {
   position: relative;
   right: 6px;
   top: 6px;
   color: #000;
   font-size: 20px;
   font-weight: bold;
}
.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
     animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}     
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}
.loginPie
{
	width: auto;
}
/*--------------------------------Condicions------------------------------------------------*/
#condiciones .modal-content .modal-body h2{
    font-size: 20px;
    color:#353599;
    font-weight: bolder;
}
#condiciones .modal-content{
    width: 500px;
}
#condiciones .modal-content .modal-body p{
    text-align: justify;
}
#condiciones .modal-content .modal-header img{
    margin-left: 150px;
}
#condiciones .modal-content .modal-header .modal-title{
    margin-left: 15px;
}
/*------------------------------------Avis------------------------------------------------*/
.modal-header img{
    margin-left: 100px;
}
.modal-body{
    margin-left: 10px;
}
.modal-body h3{
    color: #dd1717;
    font-weight: bolder;
}
.modal-footer .cancelbtn{
   /* height: 80px;*/
    padding: 5px 9px;
    background-color: #f44336;
    color:white;
}	
.modal-footer{
     height: auto;
}
/*------------------------------------Alta usuario----------------------------------------*/
#registro{
    width: 750px;
    background-color: white;
    margin: 15px 0 15px 20%;
}
#registroCab img{
    /*width: 100px;*/
    padding:20px 30px 0 50px;
    float: left;
}
#registroCab h2{
    float: left;
    padding:20px 20px 0 20px;
}
#registroCuerpo{
    clear: both;
    padding:10px 50px 10px 50px;
}
label{
    float: left;
    /*width: 170px;*/
}
input { 
  float: left;
}
.errorReg{
    color:red;
    margin-left: 170px;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #39703b;
}
/*-------------------------------------Footer---------------------------------------------*/
footer{
	width: 100%;
    height: 120px;
    /*background:#8ba987 url('../img/pie.jpg') no-repeat center center;*/
    /*color:white;*//* #cfd1d2;*/
    font-weight: bold;
    padding: 20px;
}
footer #redes li{
	list-style:none;
	float:left;
}
#facebook, #twitter, #correu{
	width:30px;
	height:30px;
	margin-right:7px;
}
#copyright, #derecha a{
	text-align:right;
	font-size:13px;
	margin-top:5px;
	margin-right: 50px;
}
#derecha{
	display: block;
	float: right;
}

/*-------------------------------------------PUBLICACIÓN---------------------------------*/
.publicacion img{
    margin-left: 15%;
}
.publicacion h4 small{
    color:white;
}
.publicacion a{
    color:#c9e4f3;
    font-size: 18px;
    float: right;
}
.btn-primary-outline{   
    background-color: transparent;
}
.descripcion p, .descripcion ul li{
    text-align: justify;
}
.btn-publicacion {  
    background-color: #39703b;
    color: white;
    font-size: 16px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} 
.btn-publicacion:hover {
    background-color: #53aa56;
}
.verde{
    color: green;
}
#ocultarComentario{
    display: none;
}
p .aIzquierda{
    float: left;
    color:black;
    padding-right: 10px;
}

/*------------------------------ALTA NOTICIA----------------------------------------------*/
.altaNoticia{
    margin-left: 15%;
}
.altaNoticia form .errorNoticia{
    color: red;
    margin-left: 170px;
}
.btn-sub{
    margin-left: 170px;
}
.btn-res{
    margin-left: 15px;
}
.salida{
    width: 500px;
    background: white;
    margin-left: 200px;
    margin-bottom: 15px;
    padding: 30px 0 0 50px;
}
.salida h3{
    font-weight: 700;
    color:rgb(64, 112, 64);
}
.salida p{
    color: gray;
}
.tituloSalida{
    font-size: 18px;
    font-weight: bold;
}
/*-------------------------------PORTADA----------------------------------------------*/
#portada{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 800px;
    background:url('../img/red.jpg') no-repeat left center;  
}
#portada h1{
    position: relative;
    top: 400px;
    left: 470px;
    font-size: 65px;
    color: white;
    font-weight: bold;
}
#portada a{
    position: relative;
    top: 420px;
    left: 750px;
    font-size: 25px;
    font-weight: bold;
}













